[Unit]
Description=Adding some fun in your Mumble
After=mumble-server.service

[Service]
Type=simple
WorkingDirectory=/home/funbot
ExecStart=/usr/bin/node index.js
Restart=on-failure

[Install]
WantedBy=default.target
